@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-900 text-white;
  }

  html,
  body {
    @apply overflow-x-hidden;
  }
}


@layer utilities {
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
  }

  .section-dark {
    @apply bg-zinc-900;
  }

  .section-light {
    @apply bg-white text-zinc-900;
  }
}